<div class="location-field">
  <%= form.label :location %>
  <%= form.text_field :location%>
</div>

<div class="tags-field">
  <%= form.label :tags %>
  <%= form.text_field :tags%>
</div>

<div class="name-field">
  <%= form.label :name %>
  <%= form.text_field :name%>
</div>

<div class="place_type-field">
  <%= form.label :place_type %>
  <%= form.text_field :place_type%>
</div>

<div class="property_type-field">
  <%= form.label :property_type %>
  <%= form.text_field :property_type%>
</div>

<div class="room_number-field">
  <%= form.label :room_number %>
  <%= form.text_field :room_number%>
</div>

<div class="bed_number-field">
  <%= form.label :bed_number %>
  <%= form.text_field :bed_number%>
</div>

<div class="guest_number-field">
  <%= form.label :guest_number %>
  <%= form.text_field :guest_number%>
</div>

<div class="city-field">
  <%= form.label :city %>
  <%= form.text_field :city%>
</div>

<div class="zipcode-field">
  <%= form.label :zipcode %>
  <%= form.text_field :zipcode%>
</div>

<div class="state-field">
  <%= form.label :state %>
  <%= form.text_field :state%>
</div>

<div class="country-field">
  <%= form.label :country %>
  <%= form.text_field :country%>
</div>

<div class="price-field">
  <%= form.label :price %>
  <%= form.text_field :price%>
</div>

<div class="description-field">
  <%= form.label :description %>
  <%= form.text_area :description%>
</div>

<div class="listing_cover-field">
  <%= form.label :listing_cover %>
  <%= form.file_field :listing_cover%>
</div>

<div class="image-field">
  <%= form.label :image %>
  <%= form.file_field :image, multiple: true%>
</div>

