<h1> UNVERIFIED LISTINGS </h1>

<p>Found <%= @listing_count %> results</p>
<% @listings.each do |t| %>
<h3><%= t.name %> at <%= t.location %></h3>
<h5><%= t.description %>
<%= t.property_type %></h5>
<h6>RM <%= t.price %> onwards</h6>
<a href="/listings/<%= t.id %>">View Listing</a>
<hr>
<% end %> 

<%= paginate @listings %>
<%= page_entries_info @listings %>